.table {
    width: 100%;
    margin-top: 20px;
    color: #614326;
    thead tr{
        position: relative;
        padding: 0;
        height: 60px;
        color: #614326;
        &::after {
            content: '';
            top: 0;
            left: 0;
            right: 0;
            position: absolute;
            border-style: solid;
            border-width: 10px;
            border-image: url("https://d2q63o9r0h0ohi.cloudfront.net/images/esports/schedule/Event_Tab_middle_bg-71a4b645b8966afe4e1d06e5a793d9b3da9c6a99f01fbae3357971d69b48bac22d1e87d884ad5db93e9023e74963b140ada0cc1534d7e5b654ed02cfde2632cd.png") 10 fill / 1 / 0 repeat;
            height: 60px;
            pointer-events: none;
        }
        button {
            outline: none;
            background: transparent;
            border: none;
            padding: 0px;
            display: flex;
            align-items: center;
            cursor: pointer;
            color: #614326;
            div {
                background-size: cover;
                transform: scale(0.75);
            }
            .mana {
                transform: scale(0.7);
            }
            .health {
                width: 30px;
                background-position: 0 2px;
            }
            .attack {
                background-size: 110%;
            }
        }
        svg {
            width: 12px;
            height: 12px;
            color: #CDB28A;
        }
        .sortBtns {
            display: flex;
            flex-direction: column;
        }
        th {
            text-align: left;
            padding: 0px 15px;
            white-space: nowrap;
            vertical-align: middle;
            margin: 0 auto;
            @media screen and (max-width: 720px){
                padding: 0px;
                padding-left: 15px;
                padding-right: 15px;
                @media screen and (max-width: 490px){
                    padding-left: 10px;
                    padding-right: 10px;
                }
                &:last-child {
                    padding-right: 25px;
                    @media screen and (max-width: 720px){
                        padding-right: 15px;
                    }
                }
            }
            &:first-child {
                padding-left: 30px;
                span {
                    margin-right: 10px;
                }
            }
        }
    }
}

.card-row {
    position: relative;
    &:hover {
        .card-row__card::before {
            content: '';
            inset: 0px;
            position: absolute;
            background: rgb(97, 67, 38) none repeat scroll 0% 0%;
            pointer-events: none;
            opacity: 0.1;
        }
    }
    td {
        padding: 5px 15px;
        color: rgb(97, 67, 38);
        border-bottom: 1px solid rgb(215, 187, 147);
        white-space: nowrap;
        vertical-align: middle;
        @media screen and (max-width: 720px){
            padding: 5px 10px 5px 0;
        }
        @media screen and (max-width: 490px){
            padding-right: 0px;
        }
    }
    .filterable {
        white-space: pre-wrap;
        line-height: 1.2;
        span {
            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
    &__card {
        padding: 5px 15px;
        @media screen and (max-width: 490px){
            max-width: 190px;
        }
    }
}

.card-img {
    position: relative;
    border-radius: 5px;
    padding: 6px 20px;
    cursor: pointer;
    background: rgb(43, 44, 62) none no-repeat scroll right center;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 250px;
    border: 1px solid rgb(0, 0, 0);
    &:hover {
        filter: drop-shadow(rgb(255, 255, 255) 0px 0px 5px);
        border-color: white;
    }
    &__mask {
        position: absolute;
        z-index: 2;
        top: 0px;
        right: 0px;
        height: 100%;
        background: rgba(0, 0, 0, 0) url("https://d2q63o9r0h0ohi.cloudfront.net/images/decklist/card_list_mask-23bf424f40855f607e8abbbf8f095325deb6c68d7cbc1aba14919916e386641408fd07a464db21f06e9a61bf62686f893097d75e57916110b5c206c98a822acd.png") repeat scroll left center;
        width: 150px;
    }
    &__img {
        z-index: 1;
        background-color: rgb(0, 0, 0);
        background-size: cover;
        width: 150px;
        height: 100%;
        top: 0px;
        right: 0px;
        border-radius: 5px;
        position: absolute;
    }
    &__link {
        display: block;
        text-decoration: none;
        color: rgb(255, 255, 255);
        position: relative;
        z-index: 3;
        white-space: nowrap;
        overflow: hidden;
        text-shadow: #000 2px 0 0,#000 1.75517px .95885px 0,#000 1.0806px 1.68294px 0,#000 .14147px 1.99499px 0,#000 -.83229px 1.81859px 0,#000 -1.60229px 1.19694px 0,#000 -1.97998px .28224px 0,#000 -1.87291px -.70157px 0,#000 -1.30729px -1.5136px 0,#000 -.42159px -1.95506px 0,#000 .56732px -1.91785px 0,#000 1.41734px -1.41108px 0,#000 1.92034px -.55883px 0;
        text-overflow: ellipsis;
    }
    &_full {
        width: 240px;
        height: 350px;
        position: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 5;
    }
}

.sortable {
    margin: 0 auto;
    text-align: center;
    @media screen and (max-width: 400px){
        max-width: 25px;
    }
    max-width: 30px;
    div {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        margin: 0 auto;
        color: white;
        text-align: center;
        line-height: 1.4;
        font-size: 22px;
    }
}

.mana {
    background-image: url('https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_mana_68x68_@2x-b6ecc2a45a3440ac6cba07297306fbb64d9a224bc12a281224a091aaf92a73da2d0036e6eed920f74a957660354bfafe7831fc291aad49867d04b427737c6e3a.png');
    width: 31px;
    height: 29px;
}
.health {
    background-image: url('https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_health_table-47b6385e38f24db7c03021271075fca56e2dd9ef68cd05da5c130b0ede188fd6f481554cb644ad5152b10a51d7b7d1a10a37d81b2caecb040d53129e34d5d496.png');
    width: 34px;
    height: 36px;
}
.attack {
    background-image: url('https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_attack_table-fd27efc96e0708f9f4d03ef50c72cc9cd5aed569f14b60e498e6c903cdaadd7f037cb2bee9b5e4e699a370e95c5d9d9f45464d8b09a99ae79383d5abcf92b8b5.png');
    width: 34px;
    height: 36px;
}