.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    &-main {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: 980px;
        padding: 30px 10px;
        transform: translate(-50%, -50%);
        @media screen and (max-width: 992px) {
            width: 100%;
            top: 0px;
            transform: translateX(-50%);
        }
    }
    &-content {
        display: flex;
        justify-content: center;
        @media screen and (max-width: 992px) {
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        &__image {
            position: relative;
            margin: 0 10px;
            width: 370px;
            @media screen and (max-width: 992px) {
                margin: 0px;
            }
            @media screen and (max-width: 470px) {
                width: 100%;
            }
            img {  
                @media screen and (max-width: 470px) {
                    width: 100%;
                    max-width: 80%;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
    }
    &-info {
        padding: 40px 20px 20px;
        width: 480px;
        position: relative;
        @media screen and (max-width: 470px) {
            width: 100%;
            max-width: 100%;
        }
        line-height: 1.5;
        font-size: 1.2rem;
        h3 {
            font-size: 2rem;
            font-weight: bold;
            margin-top: 5px;
            font-family: 'belwe', serif;
        }
        &__flavorText {
            font-style: italic;
            color: #868686;
            margin: 5px 0;
        }
        &__text {
            margin: 5px 0;
        }
        ul {
            font-size: 1rem;
            margin: 20px 0 25px;
            list-style: disc;
            li {
                margin-left: 20px;
                color: rgb(255, 229, 172);
                font-weight: bold;
                span {
                    color: white;
                    font-weight: normal;
                }
            }
        }
    }
    &-close {
        position: fixed;
        top: 20px;
        right: 20px;
        color: white;
        cursor: pointer;
        pointer-events: all;
        z-index: 100;
        svg {
            fill: rgb(252, 209, 68);
        }
    }
}

.arrow_left, .arrow_right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
    display: flex;
    @media screen and (max-width: 992px){
        display: none;
    }
}
.arrow_left {
    left: -105px;
    @media screen and (max-width: 1100px) {
        left: -50px;
    }
}
.arrow_right {
    right: -105px;
    @media screen and (max-width: 1100px) {
        right: -50px;
    }
}

.arrow-img_left, .arrow-img_right {
    background-image: url("https://d2q63o9r0h0ohi.cloudfront.net/images/esports/global-games/navArrows-9c1ca6beda271e6ff1421e54014ef85f833b17c92d7ab317b96ee14aad15a4cd04fe6954a748e0d967839a0ad10644a119e49475496ff106ee3df4908c00515d.png");
    background-repeat: no-repeat;
    width: 78px;
    height: 69px;
    content: '';
    position: relative;
    @media screen and (max-width: 992px){
        display: none;
    }
}
.arrow-img_left {
    background-position: -2px -3px;
}
.arrow-img_right {
    background-position: -102px -3px;
}

.overlay {
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
}
