.filterbar {
    position: fixed;
    top: 0;
    box-shadow: 0 0 15px black;
    width: 100%;
    background: #551514;
    &-main {
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
    }
    &-top {
        display: flex;
        &__element {
            padding-right: 20px;
        }
        &__manaCostBar {
            display: flex;
            background: #3E0E0E;
            border: 3px solid #F7F3B5;
            border-radius: 20px;
            padding: 0px 5px;
            &:hover {
                border: 3px solid white;
            }
        }
    }
    &-search, &-search_active {
        display: flex;
        align-items: center;
        border: 3px solid #F7F3B5;
        border-radius: 20px;
        background: #3E0E0E;
        flex-direction: row;
        position: relative;
        &:hover {
            border: 3px solid white;
        }
        &__search {
            background-color: transparent;
            border: none;
            color: white;
            max-width: 170px;
            padding-right: 35px;
        }
    }
    &-search_active {
        border: 3px solid white;
    }
    &-additional {
        display: flex;
        overflow: hidden;
        justify-content: center;
        max-height: 0px;
        border-top: 2px inset transparent;
        transition: all 0.3s linear;
        &_active {
            display: flex;
            justify-content: center;
            transition: all 0.3s linear;
            padding: 15px 0;
            border-top: 2px solid rgb(70, 0, 0);
            max-height: 70px;
            & > div {
                opacity: 1;
                transition: opacity 0.5s linear;
                transition-delay: 0.1s
            }
        }
        & > div { 
            opacity: 0;
            transition: opacity 0.2s linear;
        }
    }
    &-select {
        background-color: #E8D4A7;
    }
}
.toggleButton, .toggleButton_active {
    margin-right: 0;
    border-radius: 20px;
    border: 3px solid #F7F3B5;
    background: #C3B189;
    cursor: pointer;
    margin: 0;
    padding: 0 10px 0 0;
    display: flex;
    align-items: center;
    color: #614326;
    &:focus {
        outline: none
    }
    &:hover {
        background: #FFFF94;
    }
}
.toggleButton_active {
    background: #FFFF94;
    border: 3px solid white;
}

.rcs-inner-handle {
    background : red !important
}

.manaBtn, .manaBtn_active {
        position: relative;
        background: transparent;
        border: none;
        width: 36px;
        height: 34px;
        padding: 0;
        margin: 0;
        background-image: url('https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_mana_68x68_@2x-b6ecc2a45a3440ac6cba07297306fbb64d9a224bc12a281224a091aaf92a73da2d0036e6eed920f74a957660354bfafe7831fc291aad49867d04b427737c6e3a.png');
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    &::before {
        background: rgba(0, 0, 0, 0) url("https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_mana_hoverselected-4b4e72e3465b332fb2535f178dac9db4f5a279dc6432c57bb309c2bd63229e4ef7fea8be1a8b1463410983c2316ae33f95a91a75d2407a6952551bb3c17b1478.png") no-repeat scroll center center / contain;
        background-position-x: center;
        background-position-y: center;
        transition: opacity 0.15s ease 0s;
        position: absolute;
        inset: -5px;
        content: "";
        opacity: 0;
    }
    &:hover {
        &::before {
            opacity: 1;
        }
    }
    &:focus {
        outline: none;
    }
    &:last-child {
        width: 60px;
        background-image: url('https://d2q63o9r0h0ohi.cloudfront.net/images/card-gallery/icon_mana_plus-e388a8cbaa495d2a09e2a508288da0c9ffcdc43531087897355a36d79699749ae0196922b5cae9121c6dbff6bf656af097ca05ee916042f18b6d3a3c0af891b7.png');
        &::before {
            background-position: left center;
        }
    }
    &__text {
        color: white;
        position: relative;
        font-size: 1.2rem;
        text-shadow: rgb(0, 0, 0) 2px 0px 0px, 
            rgb(0, 0, 0) 1.75517px 0.95885px 0px, 
            rgb(0, 0, 0) 1.0806px 1.68294px 0px, 
            rgb(0, 0, 0) 0.14147px 1.99499px 0px, 
            rgb(0, 0, 0) -0.83229px 1.81859px 0px, 
            rgb(0, 0, 0) -1.60229px 1.19694px 0px, 
            rgb(0, 0, 0) -1.97998px 0.28224px 0px, 
            rgb(0, 0, 0) -1.87291px -0.70157px 0px, 
            rgb(0, 0, 0) -1.30729px -1.5136px 0px, 
            rgb(0, 0, 0) -0.42159px -1.95506px 0px, 
            rgb(0, 0, 0) 0.56732px -1.91785px 0px, 
            rgb(0, 0, 0) 1.41734px -1.41108px 0px, 
            rgb(0, 0, 0) 1.92034px -0.55883px 0px;
    }
}

.manaBtn_active {
    &::before {
        opacity: 1;
    }
}

.react-icons {
    color: #FFD700;
    background: #390C0C;
    border: 3px solid #FFD700;
    border-radius: 50%;
    padding: 3px;
    font-size: 32px;
    min-width: 32px;
    margin-right: 3px;
}
