.card-section {
    h3 {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #614326;
        font-family: 'belwe', serif;
    }
}

.section-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    &__link {
        display: block;
        outline: none;
        & > div {
            margin-bottom: 20px;
        }
    }
    &__item {
        width: 240px;
        height: 350px;
        @media screen and (max-width: 620px) {
            width: 150px;
            height: 220px;
        }
        img {
            position: relative;
            width: 100%;
            filter: drop-shadow(rgba(0, 0, 0, 0.6) 0px 3px 5px);
            &:hover {
                filter: drop-shadow(white 0px 0px 13px);
            }
        }
    }
}

.ghost-card {
    width: 240px;
    height: 1px;
    @media screen and (max-width: 620px) {
        width: 150px;
    }
}