.filters-info, .filters-info_active {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s linear;
    color: #614326;
    &_active {
        @media screen and (min-width: 991px) {
            margin-top: 170px;
        }
    }
    &__totalCards {
        margin-right: 10px;
        margin-bottom: 5px;
    }
    &__left {
        display: flex;
        align-items: start;
        flex-wrap: wrap;
    }
    &__right {

    }
}

.clearInfoBtn {
    border-radius: 20px;
    background: #614326;
    color: white;
    border: none;
    padding: 4px 8px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.1s;
    span:last-child {
        padding-left: 10px;
        color: #fcd144;
    }
    &:hover {
        background: #233A6E;
        span:last-child {
            color: white;
        }
    }
}

.viewmode {
    display: flex;
    align-items: center;
    &__btns {
        display: flex;
        background-color: #C3B189;
        border: 3px solid white;
        border-radius: 20px;
        margin-left: 5px;
        span {
            height: 26px;
            cursor: pointer;
            &:first-child {
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
            }
            &:last-child {
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }
            &:hover {
                background: #FFFF94;
                color: #614326;
            }   
        }
    }
}

.react-icons {
    color: #614326;
    border: none;
    border-radius: 0;
    font-size: 26px;
    margin-right: 0px;
    padding: 3px;
}