@import '../node_modules/css-reset-and-normalize/scss/reset-and-normalize';
@font-face {
  font-family: 'open_sans'; 
  src: url('./fonts/Open_Sans/OpenSans-Regular.ttf')
}
@font-face {
  font-family: 'belwe'; 
  src: url('./fonts/belwe/belwe_bold.ttf')
}
@font-face {
  font-family: 'helvetica'; 
  src: url('./fonts/Helvetica/Helvetica400.ttf')
}
@font-face {
  font-family: 'catamaran'; 
  src: url('./fonts/Catamaran/Catamaran-Regular.ttf')
}

body {
  font-family: 'catamaran', 'open_sans', 'helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lock {
  overflow: hidden;
}